html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.2em;
}

.card-container {
  margin: 10px auto;
  width: 18rem;
  max-height: 40rem;
}

.card-text {
  max-height: 10rem;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
}

.reg-form {
  width: 35%;
}
